<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="fonts/main.css">

</head>

    
    <body>
      
      <img class="sec1-bg" src="https://files.doktornarabote.ru/oxana/anya/lend/bg1.png">
      <img class="sec1-bg_2" src="https://files.doktornarabote.ru/oxana/anya/lend/bg1_2.png">

        <div class="wrapper">
       


          <section class="section_1" id="_1">
            <div class="grid">
                <div class="section__content">

                    <div class="grid__row">
                        <div class="grid__col _lg_4 _sm_12 logo">

                         <img src="https://files.doktornarabote.ru/oxana/anya/lend/logo.png">
                        </div>
                        <div class="grid__col _lg_7 _sm_12 title_lg text-red title_logo">
                          Продлевает трудоспособность пациента с&nbsp;артериальной гипертензией<sup>1</sup>
                        </div>
                    </div>


                    <div class="grid__row title_lg38 grid__row_1">
                      <div class="grid__col _lg_12 _sm_12">
                        Гипотензивное действие сартанов основано

                      на&nbsp;блокировании рецепторов ангиотензина&nbsp;II<sup>1</sup>.
                      </div>
                    </div>
                      
                      
                    <div class="grid__row_1_2_bg">
                   
                    
                  
                   
                       
                      <div class="grid__row items-center grid__row_3_2 grid__row_3_2__first _lg_content_end">
                        <p class="title_red title_lg title_red_first">
                          Сравнение с&nbsp;антигипертензивными препаратами&nbsp;других классов Сартаны:


                      </p>
                      
                      <div class="grid__row _lg_12 left-content _lg_content_center">
                        

                        <div class="grid__col grid__row_1_3 arr_cont grid__row_1_3__cont _lg_4 _sm_10">
                          <img class="arr_cont_black" src="https://files.doktornarabote.ru/oxana/anya/lend/arr_black.png">
                                  
                                   <p class="clr__blue">обеспечивают

                                    наибольшее снижение среднесуточного систолического артериального
                                    
                                    давления<sup>2</sup>.
                                    </p>   
                                </div>
<div class="grid__col grid__row_1_3 grid__row_1_3__cont arr_cont _lg_3 _sm_10">
  <img class="arr_cont_black" src="https://files.doktornarabote.ru/oxana/anya/lend/arr_black.png">
                                  <p class="clr__pinck">имеют

                                    наиболее благоприятный
                                    
                                    профиль
                                    
                                    безопасности<sup>2</sup>.
                                    </p>
                                </div>
                          <div class="grid__col grid__row_1_3 grid__row_1_3__cont _lg_3 _sm_10">
                                   <p class="clr__viol">обеспечивают

                                    высокую приверженность терапии<sup>3</sup>.
                                    </p>
                                  </div>
                         

                          

                            
                              
                            
                              
                         
                            </div>
                           
                              
                                
                          </div>
                          <div class="grid__row">
                            <div class="grid__col text-gray grid__col_1_4  _lg_10 _sm_12">
                              У&nbsp;всех блокаторов рецепторов ангиотензина общий механизм действия, 
                              но&nbsp;есть различия во&nbsp;взаимодействии с&nbsp;рецепторами, 
                              что определяет их&nbsp;разную эффективность. 
                              Один из&nbsp;наиболее изученных представителей этого 
                              класса&nbsp;— кандесартана цилексетил. 
                              При всасывании из&nbsp;желудочно-кишечного тракта препарат
                               гидролизуется до&nbsp;активного вещества&nbsp;— кандесартана<sup>4</sup>.
          
                              </div>
                          </div>
                                    </div>
                                 

                  </div>
                </div>

                
               


              </div>
            </section>



            <section_2>             
    <div class="section__content">
      <div class="grid">
        <div class="grid__row">
            <div class="grid__col _lg_12 _sm_12 logo">
              <div class="grid__col grid__col_2_1  _lg_10 _sm_12 title_lg38">
                <span>Кандесартан&nbsp;&mdash;</span> высокоселективный длительно 
                действующий антагонист рецепторов ангиотензина II&nbsp;подтипа 1
                 (AT1-рецепторы)<sup>1,4</sup>.
                </div>
            </div>
          </div>
                <div class="grid__row grid__row_2_2 _lg_12 _lg_content_around">
                  <div class="grid__col grid__col_2_2  _lg_4 _sm_8">
                    
                    <h4 class="grid__col_2_2_1__title title_lg">Сравнение с другими сартанами</h4>
                    <p class="grid__col_2_2_1__desc">Кандесартан снижает давление сильнее,
                       чем другие сартаны5.
                       У&nbsp;кандесартана самая сильная из&nbsp;всех сартанов связь 
                       с&nbsp;ангиотензиновыми рецепторами.
                     <br><br>
                      <b>Сила связывания AT&nbsp;I&nbsp;блокаторов с&nbsp;рецепторами 
                      ангиотензина нарастает так<sup>6</sup>:</b>
                      </p>
                      <div class="grid__col_2_2_1__btn">
                        <a href="">Основание

                          <img class="grid__col_2_2_2__img items-center"  
                        src="https://files.doktornarabote.ru/oxana/anya/lend/arr_r.png">
                        </a>
                     </div>
                    </div>



                    <div class="grid__col grid__col_2_2  _lg_4 _sm_8">
                    
                      <h4 class="grid__col_2_2_2"><a>кандесартан</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>олмесартан</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>ЕХР-3174</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>телмисартан</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>валсартан</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>ирбесартан</a></h4>
                      <img class="grid__col_2_2_2__img items-center" height="18px" 
                      src="https://files.doktornarabote.ru/oxana/anya/lend/arr_blue.png">
                      <h4 class="grid__col_2_2_2"><a>лозартан</a></h4>
                      </div>
                  
                  

                    </div>
                    </div>

                

            </div>
        </div>
    </div>
  </div>
</section>


            <section_3>
            <div class="section__content">
              <div class="grid">
                <div class="grid__row grid__row_3_1">
                    <div class="grid__col  _lg_12 _sm_12 title_lg38">
                      Ретроспективное обсервационное исследование в&nbsp;Швеции, показало, 
                      что кандесартан сильнее, чем лозартан снижает 
                      риск развития неблагоприятных клинических исходов<sup>9</sup>.

                      </div>
                      </div>


                      <div class="grid__row grid__row_3_2 _lg_content_between">
                        <p class="title_red title_lg title_red_margin">
                          В&nbsp;группе кандесартана по&nbsp;сравнению с&nbsp;группой лозартана отмечалось
                           снижение:

                      </p>
                      
                      <div class="grid__row _lg_12  _lg_content_center">
                        

                        <div class="grid__col grid__col_3_2 ico_1 _lg_4 _sm_12">
                          <img class="" src="https://files.doktornarabote.ru/oxana/anya/lend/icon1.png">
                          <h4 class="grid__col_3_2_1__title text-viol title_lg">
                            на <span class="title_lg_33 text-bold">14%</span></h4>
                          <p class="text _lg">риска развития осложнений сердечно-
                            сосудистых заболеваний,
                            </p>                              
                          </div>
<div class="grid__col grid__col_3_2 ico_2 _lg_4 _sm_12">
                              <img class=" " src="https://files.doktornarabote.ru/oxana/anya/lend/icon2.png">
                              <h4 class="grid__col_3_2_1__title text-viol title_lg">
                                на <span class="title_lg_33 text-bold">36%</span></h4>
                              <p class="text _lg">риска развития сердечной недостаточности,

                                </p>                              
                              </div>
                          <div class="grid__col grid__col_3_2 ico_3 _lg_4 _sm_12">
                            <img class="" src="https://files.doktornarabote.ru/oxana/anya/lend/icon3.png">
                            <h4 class="grid__col_3_2_1__title text-viol title_lg">
                              на <span class="title_lg_33 text-bold">20%</span></h4>
                            <p class="text _lg">аритмий,
                              </p>                              
                            </div>
                         

                          

                            
                              <div class="grid__col grid__col_3_2 ico_4 _lg_4 _sm_12">
                                <img class=" " src="https://files.doktornarabote.ru/oxana/anya/lend/icon4.png">
                                <h4 class="grid__col_3_2_1__title text-viol title_lg">
                                  на <span class="title_lg_33 text-bold">39%</span></h4>
                                <p class="text _lg">заболеваний периферических артерий<sup>9</sup>.
                                  </p>                              
                                </div>
                            
                              
                         
                            </div>
                           
                              
                                <div class="grid__col_3_2__btn text-center items-center">
                                  <a href="" class="text-white  title _md">
                                    Подробнее об исследовании 
                                    <img class="grid__col_2_2_2__img items-center" height="10px" 
                                    src="https://files.doktornarabote.ru/oxana/anya/lend/arr_white.png">
                                  </a>
                                
                              </div>
                          </div>
                          </div>
                        </section>
                        
            <section_4>
              <div class="sec4">
                <img class="sec4_bg" src="https://files.doktornarabote.ru/oxana/anya/lend/bg4.png">
                <img class="sec4_bg_1" src="https://files.doktornarabote.ru/oxana/anya/lend/bg4_1.png">
              <div class="section__content sec4">
                
                <div class="grid">

                  <div class="grid__row _lg_content_between">
                    <div class="grid__col _lg_12 _sm_12">
                      <div class="grid__row">
                      <div class="grid__col _lg_6 _sm_12 ">
                        <h4 class="title_lg34">Артериальная гипертензия</h4>
                        <p class="text-red title_lg">Кандесартан при приеме внутрь:</p>
                      </div>
                     
                      <div class="grid__col _lg_6 _sm_12">
                        Выраженной артериальной гипотензии после 
                        первой дозы или синдрома отмены после прекращения терапии не зафиксировано<sup>1</sup>.                    
                    </div>
                    </div>
                    <div class="grid__row _lg_content_center ">
                      <div class="grid__col grid__row_1_3 grid__row_1_3__sec4  grid__row_1_3__cont grid__row_1_3__cont_4 _lg_3 _sm_12">
                        <p class="clr__blue ">начинает 
                          действовать 
                          через 2 часа,
                         </p>   
                     </div>
                     <div class="grid__col grid__row_1_3 grid__row_1_3__sec4  grid__row_1_3__cont  grid__row_1_3__cont_4 _lg_3 _sm_12">
                      <p class="clr__blue ">уменьшает общее периферическое сопротивление сосудов, </p>   
                   </div>
                   <div class="grid__col grid__row_1_3 grid__row_1_3__sec4  grid__row_1_3__cont grid__row_1_3__cont_4 _lg_3 _sm_12">
                    <p class="clr__blue">снижает артериальное давление плавно, соответственно дозе препарата,</p>   
                 </div>
                 <div class="grid__col grid__row_1_3 grid__row_1_3__sec4  grid__row_1_3__cont grid__row_1_3__cont_4 _lg_3 _sm_12">
                  <p class="clr__blue ">не вызывает рефлекторного увеличения частоты сердечных&nbsp;сокращений,
                   </p>   
               </div>
               <div class="grid__col grid__row_1_3 grid__row_1_3__sec4 grid__row_1_3__cont grid__row_1_3__cont_4 _lg_3 _sm_12">
                <p class="clr__blue ">продолжает 
                  действовать в течение 
                  24 часов<sup>1</sup>.
                 </p>   
             </div>
                    </div>
                    </div>
                  </div>
                  </div>
                  </div>
              </div>
            </section_4>

            <section_5>
              <div class="section__content">                
                <div class="grid">
                  <div class="grid_row">
                    <div class="grid_col _lg_12 sm_10">
                      <h4 class="text-red title_lg">
                        Максимума снижение артериального давления достигает за&nbsp;4
                         недели приема одной и&nbsp;той&nbsp;же дозы кандесартана.
                      </h4>
                      <p class="grid__col_5__sub">
                        Далее при продолжении терапии этот уровень артериального давления сохраняется<sup>1</sup>. 
                        Сочетание кандесартана
                        с&nbsp;тиазидным диуретиком гидрохлоротиазидом усиливает антигипертензивный эффект<sup>1</sup>.
                      </p>
                    </div>
                  </div>
                  <div class="grid__row">
                    <div class="grid__col _lg_12 _sm_10 items-center _lg_content_around">
                      <div class="grid__row _lg_content_between">
                        <div class="grid__col grid__col_5 _lg_5 _sm_10 ">
                          <div class="items-center grid__col_5__small" >
                            <p class="text-semi grid__col_5__text title _md text-grey">
                              На&nbsp;эффективность препарата не&nbsp;влияют:</p>
                            <ul class="items-center">
                              <li><p>возраст,</p></li>
                              <li><p>пол</p></li>
                            </ul>
                          </div>
                         
                        </div> 
                        <div class="grid__col grid__col_5  _lg_6 _sm_10">
                          
                          <div class="items-center grid__col_5__big" >
                            <p class="text-semi grid__col_5__text title _md text-grey">Действие кандесартана на почки:</p>
                            <ul class="items-center">
                              <li><p>увеличивает почечный кровоток,
                                </p></li>
                              <li><p>скорость клубочковой фильтрации не изменяет или повышает,</p></li>
                              <li><p>снижает почечное сосудистое сопротивление,</p></li>
                              </ul>
                        </div> 
                      </div>
                      </div>
                  </div>
                  </div>
                </div>
            </section_5>


            <section_6 class="sec6">
              <img class="sec6-bg" src="https://files.doktornarabote.ru/oxana/anya/lend/bg1_2.png">
                <div class="section__content ">

                  <div class="grid">
                    <div class="grid_row">
                      <div class="coll _lg_12 _sm_12 title_lg34">
                        У&nbsp;пациентов с&nbsp;артериальной гипертензией и&nbsp;сахарным диабетом 
                        2 типа кандесартан не&nbsp;повышает концентрацию глюкозы в&nbsp;крови
                         и&nbsp;не&nbsp;влияет на&nbsp;липидный профиль<sup>1</sup>.

                      </div>
                    </div>
                    <div class="grid__row">
                      <div class="grid__col grid__col_6  _lg_12 _sm_10   items-center">
                        <div class="grid__row">
                          <div class="grid__col grid__col_6__text _lg_12 _sm_12">
                            <h4 class="text-red title_lg">Сердечная недостаточность</h4>
                            <p class=" title _md">Кандесартан у&nbsp;пациентов с&nbsp;хронической 
                              сердечной недостаточностью (ХСН):
                            </p>
                          </div>
                        </div>

                        <div class="grid__row grid__row_6__margin _lg_12  _lg_content_center">
                          
  
                          <div class="grid__col grid__col_6_1 ico_1__cont arr_cont _lg_4 _sm_12">
                            <img class="ico_1__cont_img" src="https://files.doktornarabote.ru/oxana/anya/lend/icon21.png">
                            <img class="arr_cont_pink" src="https://files.doktornarabote.ru/oxana/anya/lend/arr_pink.png">
                            <p class="text _lg">снижает&nbsp;показатель смертности,
                              </p> 
                                                           
                            </div>
<div class="grid__col grid__col_6_1 ico_2__cont arr_cont _lg_4 _sm_12">
                                <img class="ico_2__cont_img" src="https://files.doktornarabote.ru/oxana/anya/lend/icon22.png">
                                <img class="arr_cont_pink" src="https://files.doktornarabote.ru/oxana/anya/lend/arr_pink.png">
                                
                                <p class="text _lg">уменьшает частоту госпитализации,

                                  </p>                              
                                </div>
                            <div class="grid__col grid__col_6_1 ico_3 _lg_4 _sm_12">
                              <img class="" src="https://files.doktornarabote.ru/oxana/anya/lend/icon23.png">
                             
                              <p class="text _lg">переводит заболевание 
                                в более низкий функциональный класс по классификации 
                                NYHA,
                                </p>                              
                              </div>
                           

                            
                              
                                <div class="grid__col grid__col_6_1 ico_4 _lg_4 _sm_12">
                                  <img src="https://files.doktornarabote.ru/oxana/anya/lend/icon24.png"> 
                                 
                                  
                                  <p class="text _lg">при сниженной систолической

                                    функции левого желудочка
                                    
                                    (ФВЛЖ &lt; 40%) уменьшает общее периферическое сопротивление
                                    
                                    сосудов и&nbsp;давление заклинивания
                                    
                                    в&nbsp;легочных капиллярах<sup>1</sup>.
                                    
                                    </p>                              
                                  </div>
                             
                            
                           
                  </div>


                      </div>
                    </div>
                    
                       



                  </div>
                </div>
            </section_6>
           <section>
             <div class="section_content">
              <div class="grid">
                <div class="grid__row">
                  <div class="grid__col _lg_12 _sm_10">
                   
                   
                   
                   
                  
                </div>
               
              </div>
             </div>
            </div>
           </section>
        </div>
    </body>
    
    </html>